

##1. Find out all the types of error that we have encountered in our lecture and why? Also include the examples.

In [43]:
Print("My name is Nikhil") #Python is Case sensative P should be in small-case as print is reserved keyword.

NameError: ignored

In [45]:
print("My name is Nikhil")

My name is Nikhil

In [46]:
print("I am 
Nikhil")                
                 #Multiline programm cannot written in between double quot("). It should be written in between tripple quot (""")

SyntaxError: ignored

In [47]:
print("""I am 
Nikhil""")

I am
Nikhil

In [51]:
print("My name is "Nikhil"") 
"""Cannot Highlight any word with same quots like in statement double quot is used for print statement and to highlight name.
To highlight any word used single quot"""

My name is 'Nikhil'

'Cannot Highlight any word with same quots like in statement double quot is used for print statement and to highlight name.\nTo highlight any word used single quot'

In [53]:
print("My name is 'Nikhil'")

My name is 'Nikhil'

In [54]:
print('My name is "Nikhil"')

My name is "Nikhil"

In [56]:
print("""My name is 'Nikhil'""")

My name is 'Nikhil'

In [60]:
ab$c = 20           #Verable should not contain special character.
print(ab$c)

SyntaxError: ignored

In [62]:
abc = 20          
print(abc)

20

In [61]:
10a = 20           #Verable should not start with number.
print(10a)

SyntaxError: ignored

In [59]:
a = 20          
print(a)

20

In [1]:
"Pune" + 1     #Cannot jont string and intiger data type together. Both data type should be same

TypeError: ignored

In [3]:
"pune " + "City"

'pune City'

In [4]:
23 + 56

79

##2. Take input A and B and print their sum, mul, div, square of the nos.

In [10]:
A = int(input("Enter value of A: "))
B = float(input("Enter value of B: "))

Enter value of A: 20
Enter value of B: 30

In [35]:
print(f"Sum of {A} and {B} is {A+B}")

Sum of 20 and 30.0 is 50.0

In [13]:
print(f"Multiplication of {A} and {B} is {A*B}")

600.0

In [36]:
print(f"Value of {A} devide by {B} is {A/B}")

Value of 20 devide by 30.0 is 0.6666666666666666

In [37]:
print(f"Square of {A} is {A**2}")

Square of 20 is 400

In [38]:
print(f"Square of {B} is {B**2}")

Square of 30.0 is 900.0

##3. How many reserve keywords are there in python and why we should not use them as a variable name.

There are total 33 reserve keywords in python as below - 
print, and, else, in, return, as, except, is, true, assert, finally, lambda, try, break, false, nonlocal, with, class, for, None, while, continue, from, not, yield, def, global, or, del, if, pass, elif, import, raise

##4. Create email ids with the user inputs. in the following format - lastname.firstname@gmail.com

In [18]:
first_name = input("Enter First name: ")
last_name = input("Enter last name: ")
print (f"Your email ID is {last_name}.{first_name}@gmail.com")

Enter First name: nikhil
Enter last name: more
Your email ID is more.nikhil@gmail.com

##5. Try to print the following lines -
1. Hi I'm Sunny
2. My address is 22\3
3. I earn 20$ daily.

In [19]:
print("I am Nikhil")

I am Nikhil

In [20]:
print("My address is 22\3")

My address is 22

In [21]:
print("I earn 20$ daily")

I earn 20$ daily

##6. Take user input (name, address, date of birth etc) to fill a form for your college and print their email IDs

In [67]:
first_name = input("Enter your first name: ")
last_name = input("Enter your last name: ")
address = input("Enter your Address: ")
date_of_birth = input("Enter your date of birth")
print(f""" Name of student: {first_name} {last_name}
Address of student: {address}
Date of birth of student: {date_of_birth} """)
print(f"your email ID is {first_name}.{last_name}@gmail.com")

Enter your first name: nikhil
Enter your last name: more
Enter your Address: pune
Enter your date of birth1995
 Name of student: nikhil more
Address of student: pune
Date of birth of student: 1995
your email ID is nikhil.more@gmail.com

In [68]:
first_name = input("Enter your first name: ")
last_name = input("Enter your last name: ")
address = input("Enter your Address: ")
date_of_birth = input("Enter your date of birth")
print(f""" Name of student: {first_name} {last_name}
Address of student: {address}
Date of birth of student: {date_of_birth} 
Your email ID is {first_name}.{last_name}@gmail.com""")

Enter your first name: nikhil
Enter your last name: more
Enter your Address: pune
Enter your date of birth26/10/95
 Name of student: nikhil more
Address of student: pune
Date of birth of student: 26/10/95
Your email ID is nikhil.more@gmail.com

##7. 
1. "22.4" into integer 
2. "22" into complex no.

In [30]:
a= 22.4
print(type(a))
int(a)
print(type (int(a)))

<class 'float'>
<class 'int'>

In [31]:
a= 22.4
print(type(a))
int(a)

<class 'float'>

22

In [41]:
b = 22
print(type(b))
complex(b)
print(type(complex(b)))

<class 'int'>
<class 'complex'>

In [42]:
b = 22
print(type(b))
complex(b)

<class 'int'>

(22+0j)